.container-box{
	width: 100%;
}

.loader_div {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .5);
}

.loader_div .loader-container {
    background-color: rgba(255, 255, 255, .8);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 350px 600px;
}

img.lazyload, img.lazyloaded {
    opacity: 1;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}